## Book Rental Shop On Jupyter Notebook

In [1]:
import cx_Oracle as ora

### DB연결 함수
###### db = mydb() 로 사용

In [2]:
def mydb():
    dsn = ora.makedsn('localhost', 1521, service_name = 'orcl')
    db = ora.connect(user = 'scott', password = 'tiger', dsn = dsn, encoding = 'UTF-8')
    return db

#### Divtbl 전체조회 함수
사용법
- getAllDataFromDivtbl(db)

In [3]:
def getAllDataFromDivtbl(db):
    cur = db.cursor()
    sql = 'SELECT * FROM divtbl'
    for rows in cur.execute(sql):
        print(rows)

    db.close()

#### Divtbl 새로운 데이터 입력
> 사용법 setDataIntoDivtbl(db, tup)

tup = (division, name)

In [4]:
def setDataIntoDivtbl(db, tup):
    cur = db.cursor()
    sql = '''INSERT INTO divtbl (division, names) 
             VALUES (:0, :1)'''

    cur.execute(sql,tup)
    cur.close()
    db.commit()
    db.close()

#### 책 대여 프로그램 시작

In [10]:
db = mydb()
print('접속')

접속

#### 장르 조회

In [18]:
getAllDataFromDivtbl(mydb())

('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')
('I101', '치킨치킨')

#### 책 장르 정보 추가

In [16]:
div = 'I101'
div_name = '치킨치킨'
tup = (div, div_name)
setDataIntoDivtbl(mydb(), tup)